body{
  background: #f1ede9;
  color: #2b2b2b;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.bgGreen{
  background: #82887e;
}

.bgDark{
  background: #2b2b2b;
  color: #f1ede9;
}

.bgDark p{
  border-color: #f1ede9 !important;
}

.bgBlue{
  background: #253156;
  color: #f1ede9;
}

.bgBlue p{
  border-color: #f1ede9 !important;
}

.bgSilver{
  background: #cdbfb1;
}

.bgArgile{
  background: #c0a68f;
}

h1{
  margin-top: 3rem;
  font-size: 4em;
}

h2{
  font-size: 3em;
  margin-bottom: 1rem;
  margin-top: 4rem;
}

h5{
  font-size: 0.6rem;
  margin-bottom: 0;
}

header div{
  background: #2b2b2b;
  width: 100%;
  margin: 1rem 0;
}

.la{
  height: 2rem;
}

.lb{
  height: 1rem;
}

.lc{
  height: 0.5rem;
}

.ld{
  height: 0.25rem;
}

.le{
  height: 1px;
}

a{
  color: #2b2b2b;
}

.section{
  width: 1200px;
  margin: auto;
}

.contact{
  padding-bottom: 50vh;
}

.simpleColumn{
  width: 30%;
  margin-left: calc(840px - 1rem);
}

.doubleColumn{
  width: 60%;
  margin-left: 40%;
}

.sectionHead{
  border-bottom: 1px solid #2b2b2b;
  margin-bottom: 2rem;
}

.sectionHead h2:first-child{
  width: calc(840px - 1rem);
}

.sectionHead, .table div{
  display: flex;
}


.table{
  width: calc(720px + 2rem);
  margin-left: calc(480px - 2rem);
}

.table div{
  border-bottom: 1px solid #2b2b2b;
  height: 1.5rem;
}

.table div p{
  width: 50%;
  margin: 0;
  padding-top: 0.2rem;
}

.project{
  width: calc(100% - 2rem);
  height: 420px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.project div{
  display: flex;
}

.folio.project img{
  width: 100%;
}

.project img{
  width: calc(840px - 3rem);
  margin-right: 1rem;
  height: 420px;
}

.project p{
  width: 360px;
  margin: 0;
}

.projectHead{
  padding: 1rem;
  display: flex;
  margin-top: 2rem;
}

.projectHead p{
  border-top: 1px solid #2b2b2b;
  border-bottom: 1px solid #2b2b2b;
  margin: 0;
}

.projectHead p:first-child{
  width: calc(840px - 3rem);
}

.projectHead p:last-child{
  width: 360px;
  padding-left: 1rem;
}

.doubleFlex{
  display: flex;
  margin-bottom: 1rem;
}

.doubleFlex img{
  width: calc(50% - 0.5rem);
}

.doubleFlex img:first-child{
  margin-right: 1rem;
}

.fullWidth{
  width: 1200px;
  margin-bottom: 1rem;
}

.longText{
  margin-left:calc(840px - 1rem);
}

.project.chap, .project.chap img{
  height: 610px;
}

.project.chap{
  padding: 0;
  margin-bottom: 1rem;
}

.project.chap img{
  width: 840px;
}

#mnl .project.chap, #mnl .project.chap img{
  height: 580px;
}

#lv55 .project.chap, #lv55 .project.chap img{
  height: 575px;
}